html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Caveat', cursive;
    margin: 0px 0px 0px 0px;
    padding: 0;
    box-sizing: border-box;
    justify-items: center;
    justify-content: center;
    align-items: center;
}


body {
    text-align: center;
}



nav ul {
    text-align: center;
    position: fixed;
    width: 100%;
    background: white;
    box-shadow: 0 3px 15px rgba(51, 54, 76, 0.2);;
    z-index: 2;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}

nav ul li a {
    font-family: "Open Sans", sans;
    text-decoration: none;
    color: rgb(212, 182, 232);
    font-size: 18px;
}

nav ul li a:hover {
    color: rgb(70, 165, 158);
}

#welcome-section {
    top: 0;
    background: white;
    min-height: 100vh;
    padding-top: 40vh;
    padding-left: auto;
    padding-right: auto;
}



#welcome-section div h1 {
    display: inline-block;
    color: rgb(51, 54, 76);
    margin-bottom: 25px;
    font-size: 60px;
    letter-spacing: 6px;
}



#welcome-section p {
    display: inline-block;
    line-height: 18px;
    padding: 5px;
    font-family: "Open Sans", sans;
}

.web-dev {
    color: white;
    background-color: rgb(125, 76, 253);
    letter-spacing: 0.8px;
}

.artist {
    color: white;
    background-color: rgb(172, 208, 44);
    letter-spacing: 0.8px;
}

.designer {
    color: white;
    background-color: rgb(207, 59, 244);
    letter-spacing: 0.8px;
}

#projects {
    padding-top: 60px;
    margin-top: -60px;
}

.head-projs {
    font-size: 55px;
    letter-spacing: 2px;
    margin-top: 60px;
    color: rgb(51, 54, 76);
    font-weight: bold;
}

.proj-link {
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    overflow-y: hidden;
    height: 260px;
    width: 260px;
    margin: 50px 80px;
    transition: all 0.2s ease-out 0.1s;
}


.proj-link:hover {
    transform: scale(1.015);
    box-shadow: 0 0 45px rgba(51, 54, 76, 0.2);;
}

.project-title {
    font-size: 18px;
    padding: 10px;
    color: rgb(51, 54, 76);
    font-family: "Open Sans", sans;
    opacity: 0.7;
}

.project-title:hover {
    color: rgb(70, 165, 158);
}

.all-projects {
    text-decoration: none;
    display: block;
    width: 200px;
    height: 60px;
    margin: 60px auto;
    background: white;
    color: rgb(70, 165, 158);
    border: 1.25px solid rgb(70, 165, 158);
    font-size: 30px;
    cursor: pointer;
    padding: 8px 8px 8px 8px;

}

.all-projects:hover {
    border: none;
    background: rgb(70, 165, 158);
    color: white;
    padding: 8px 8px 8px 8px;
    box-shadow: 0 0 20px rgba(70, 165, 158, 0.2);
}

#contact {
    padding-top: 10px;
    padding-bottom: 60px;
}

.contact-head {
    font-size: 35px;
    letter-spacing: 2px;
    margin: 50px auto;
    color: rgb(51, 54, 76);
}

.behance {
    width: 42px;
}

.twitter {
    width: 42px;
    border-radius: 50%;
}

.github {
    width: 42px;
}

.mail {
    width: 42px;
}


.profile {
    display: inline-block;
    margin: 30px 60px 30px 60px;

}

@media (max-width: 720px) {

    nav ul li {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
